.shopContainer {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 40vw;
  height: 80vh;
  color: white;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
}

.itemCard {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
