.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  text-align: center;
  font-family: "manbow", serif;
  color: rgb(255, 223, 158);
  text-shadow: 1px 1px 2px rgb(233, 199, 10), 0 0 0.5em rgb(252, 215, 53);
  pointer-events: none;
  /* Prevent clicks from affecting it */
}

.bodyContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  overflow: hidden;
}

.scrollContainer {
  margin-top: 7vh;
  margin-bottom: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  top: 5%;
}

.buttonContainer {
  position: absolute;
  left: -50px;
  /* Moves buttons further left */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -20px;
  /* Reduces space between buttons */
}

.shopContainer {
  position: absolute;
  top: 10%;
  //  ${({ position }) => (position === "left" ? "left: 5%;" : "right: 5%;")}
  width: 40vw;
  height: 80vh;
  background: url("../../public/assets/shopB.png") no-repeat center center;
  background-size: 100% 100%;
  background-color: rgba(0.1, 0.1, 0.1, 0.4);
  color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arrowBtn {
  background: none;
  border: none;
  top: 10px;
  cursor: pointer;
  width: 198px;
  /* Match the image size */
  height: 260px;
  transform: rotate(90deg);

  &:hover {
    opacity: 0.8;
  }
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 9px;
  background: black;
  color: rgb(255, 223, 158);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 100;
}

.bodyImage {
  width: 100vw;
  height: auto;
  max-height: 100vh;
  transition: transform 0.5s ease-in-out;
}

.clickableImage {
  position: absolute;
  cursor: pointer;
  transition: opacity 0.5s, transform 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.itemCard {
  width: 80%;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding-left: 10px;
  transform-origin: center;
  font-size: 0.9em;
  margin-bottom: 1rem;

  .itemImage {
    height: 100px;
    object-fit: contain;
  }

  .itemContent {
    padding: 1rem;
  }
}

.arrowImage {
  width: 100%;
  height: 100%;
  object-fit: contain;

  transform: rotate(180deg);
}
